@page "/budget/updatebudget/{id:guid}"
@using BudGET.MobileApp.Contracts;
@using BudGET.MobileApp.ViewModels.BudgetViewModels;


<h3>Modification d'un budget :</h3>
@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
}
@if (UpdatedElement == null)
{
<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
}
else{
<main class="form-signin w-100 m-auto">
        <EditForm Model=@UpdatedElement OnValidSubmit=@ValidFormSubmitted OnInvalidSubmit=@InvalidFormSubmitted>
        <div class="form-floating">
            <InputText @bind-Value=UpdatedElement.Nom type="text" class="form-control" required id="floatingInput" placeholder="(Alimentation,Essence..)" />
            <label for="floatingInput">Nom du Budget</label>
        </div>
        <div class="form-floating">
                <InputNumber @bind-Value=UpdatedElement.Montant type="number" class="form-control" id="floatingPassword" />
            <label for="floatingPassword">Montant du Budget</label>
        </div>
        <div class="form-check text-start my-3">
                <InputCheckbox @bind-Value=UpdatedElement.Exception class="form-check-input" type="checkbox" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">Exception ?</label>
        </div>
            <button @onclick="Back" class="btn btn-secondary w-100 py-2 mb-2" disabled=@loading>Back</button>
            <button class="btn btn-primary w-100 py-2 " type="submit" disabled=@loading>
            @if (loading)
            {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }
            Valider
        </button>
    </EditForm>
</main>
}

@code {
    [Inject]
    private IBudgetDataService BudgetDataService { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Parameter]
    public Guid id { get; set; }

    private BudgetViewModel UpdatedElement;

    private string LastSubmitResult;
    private bool loading = false;

    protected async override Task OnInitializedAsync()
    {
        UpdatedElement = await BudgetDataService.GetBudgetById(id);
    }

    async Task ValidFormSubmitted(EditContext editContext)
    {
        loading = true;
        var result = await BudgetDataService.UpdateBudget(UpdatedElement);
        if (result.Success)
        {
            LastSubmitResult = "OnValidSubmit was executed";
            loading = false;
            NavigationManager.NavigateTo("/budget/indexbudget");
        }
        else
        {
            InvalidFormSubmitted(editContext);
            loading = false;
        }

    }

    void InvalidFormSubmitted(EditContext editContext)
    {
        LastSubmitResult = "Veuillez remplir les champs correctement";
    }
    protected void Back()
    {
        NavigationManager.NavigateTo("/indexbudget");
    }
}
