@using BudGET.MobileApp.Contracts;
@using BudGET.MobileApp.ViewModels.SalaireViewModels;
@page "/salaire/indexsalaire"

<h3>Index</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="Back" class="btn btn-secondary mx-3">Back</button>
    <button @onclick="AddElement" class="btn btn-success">Add</button>
</div>

@if (Liste == null)
{
    <p><em>Loading...</em></p>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Montant</th>
                <th>Commandes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in Liste)
            {
                <tr>
                    <td>@ev.Nom </td>
                    <td>@ev.Valeur €</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button @onclick="@(e => UpdateElement(ev.Id))" type="button" class="btn btn-primary">Modifier</button>
                            <button @onclick="@(e => DeleteElement(ev.Id))" type="button" class="btn btn-danger">Supprimer</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Inject]
    public ISalaireDataService SalaireDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private ICollection<SalaireListViewModel> Liste { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Liste = await SalaireDataService.GetAllSalaires();
    }

    protected void AddElement()
    {
        NavigationManager.NavigateTo("/salaire/createsalaire");
    }
    protected void UpdateElement(Guid ElementId)
    {
        NavigationManager.NavigateTo("/salaire/updatesalaire/" + ElementId);
    }
    protected void DeleteElement(Guid ElementId)
    {
        var response = SalaireDataService.DeleteSalaire(ElementId);
        NavigationManager.NavigateTo("/salaire/indexsalaire", true);
    }
    protected void Back()
    {
        NavigationManager.NavigateTo("/admin");
    }
}
