@page "/admin"
<h3>Admin</h3>

<NavLink class="nav-link" href="/budget/indexbudget">
    <span class="oi oi-plus" aria-hidden="true"></span> Budget
</NavLink>
<NavLink class="nav-link" href="Compte/index">
    <span class="oi oi-plus" aria-hidden="true"></span> Compte
</NavLink>
<NavLink class="nav-link" href="Depense/index">
    <span class="oi oi-plus" aria-hidden="true"></span> Depense
</NavLink>
<NavLink class="nav-link" href="Objectif/index">
    <span class="oi oi-plus" aria-hidden="true"></span> Objectif
</NavLink>
<NavLink class="nav-link" href="Salaire/index">
    <span class="oi oi-plus" aria-hidden="true"></span> Salaire
</NavLink>

@code {

}
