@page "/admin"
<h3>Admin</h3>
    <nav class="flex-column">
        <div class="nav-item px-3">
<NavLink class="nav-link" href="/budget/indexbudget">
            <span class="oi oi-pie-chart" aria-hidden="true"></span> Budget
</NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/compte/indexcompte">
    <span class="oi oi-task" aria-hidden="true"></span> Compte
</NavLink>
        </div>
        <div class="nav-item px-3">
<NavLink class="nav-link" href="/depense/indexdepense">
    <span class="oi oi-cart" aria-hidden="true"></span> Depense
</NavLink>
        </div>
        <div class="nav-item px-3">
<NavLink class="nav-link" href="/objectif/indexobjectif">
            <span class="oi oi-task" aria-hidden="true"></span> Objectif
</NavLink>
        </div>
        <div class="nav-item px-3">
<NavLink class="nav-link" href="/salaire/indexsalaire">
    <span class="oi oi-dollar" aria-hidden="true"></span> Salaire
</NavLink>
</div>
</nav>


@code {

}
