@page "/dashboard"
@using BudGET.MobileApp.Contracts;
@using BudGET.MobileApp.ViewModels.CompteViewModels;
@using System.Globalization;



<h3>DashBoard</h3>
@if (comptes == null || compteCourant == null || economies == null)
{
    <p><em>Loading...</em></p>
}
else
{
<button @onclick="AddNewEvent" class="me-1">
    <div class="CompteCourantButtonTitle">Compte Courant :</div>
    <div class="CompteCourantButtonTitle">@compteCourant.Montant</div>
</button>
<button @onclick="AddNewEvent" class="EconomieButton me-1">
    <div class="CompteCourantButtonTitle">Economies :</div>
    <div class="CompteCourantButtonTitle">@economies.Sum(x => x.Montant)</div>
</button>
<button @onclick="AddNewEvent" class="BudgetRemainingButton me-1">
    <div class="CompteCourantButtonTitle">Budget restant du mois de @Mois</div>
    <div class="CompteCourantButtonTitle">@compteCourant.Montant</div>
</button>
<button @onclick="AddNewEvent" class="ReportingsButton me-1">
    <div class="CompteCourantButtonTitle">Reporting</div>
</button>
<button @onclick="AddNewEvent" class="me-1">
    <div class="CompteCourantButtonTitle">Compte Courant :</div>
</button>
<button @onclick="AddNewEvent" class="me-1">
    <div class="CompteCourantButtonTitle">Compte Courant :</div>
</button>
}

@code {
    [Inject]
    public ICompteDataService compteDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<CompteListViewModel> comptes { get; set; }

    CompteListViewModel compteCourant;
    List<CompteListViewModel> economies;
    DateTime Mois;


    protected async override Task OnInitializedAsync()
    {
        comptes = await compteDataService.GetAllComptes();
        compteCourant = comptes.Where(c => c.EstCompteCourant == true).First();
        if (compteCourant != null)
        {
            economies = comptes.Where(compte => compte != compteCourant).ToList();
        }
        
        var styles = DateTimeStyles.AllowInnerWhite | DateTimeStyles.AllowLeadingWhite | DateTimeStyles.AllowWhiteSpaces | DateTimeStyles.AllowTrailingWhite;
        var currentDate = DateTime.Now;
        var french = CultureInfo.GetCultureInfo("fr-FR");
        
        //TODO : Actuellement on convertie en String pour ensuite reconvertir en DateTime, il faut trouver la méthode permettant de directement convertir en français le mois.
        //DateTime.TryParseExact(currentDate.ToString(), "MMMM", french, DateTimeStyles.None, out Mois);
        DateTime.TryParseExact(currentDate.ToString(), "MMMM", french, styles, out Mois);



    }

    protected void AddNewEvent()
    {
        NavigationManager.NavigateTo("/counter");
    }
}
