@page "/depense/createdepense"
@using BudGET.MobileApp.Contracts;
@using BudGET.MobileApp.ViewModels.BudgetViewModels;
@using BudGET.MobileApp.ViewModels.DepenseViewModels;


<h3>Création d'un nouveau depense :</h3>
@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
}

@if (Budgets == null)
{
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
}
else
{
<main class="form-signin w-100 m-auto">
    <EditForm Model=@NewElement OnValidSubmit=@ValidFormSubmitted OnInvalidSubmit=@InvalidFormSubmitted>
        <div class="form-floating">
            <InputText @bind-Value=NewElement.Nom type="text" class="form-control" required id="floatingInput" placeholder="(Alimentation,Essence..)" />
            <label for="floatingInput">Nom du Depense</label>
        </div>
        <div class="form-floating">
            <InputNumber @bind-Value=NewElement.Valeur type="number" class="form-control" id="floatingPassword" />
            <label for="floatingPassword">Montant de la Depense</label>
        </div>
        <div class="form-floating">
            <InputSelect @bind-Value=NewElement.BudgetId  class="form-control" id="floatingPassword">
                @foreach (var budget in Budgets)
                {
                    <option value="@budget.Id">@budget.Nom</option>
                }
            </InputSelect>
            <label for="floatingPassword">Budget Associé</label>
        </div>
        <button @onclick="Back" class="btn btn-secondary w-100 py-2 mb-2" disabled=@loading>Back</button>
        <button class="btn btn-primary w-100 py-2 " type="submit" disabled=@loading>
            @if (loading)
            {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }
            Valider
        </button>
    </EditForm>
</main>
}

@code {
    [Inject]
    private IDepenseDataService DepenseDataService { get; set; }
    [Inject]
    public IBudgetDataService BudgetDataService { get; set; }
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    private ICollection<BudgetListViewModel> Budgets { get; set; }

    private DepenseViewModel NewElement = new DepenseViewModel() { Nom = "", Date =DateTime.Now };

    private string LastSubmitResult;
    private bool loading = false;
    protected async override Task OnInitializedAsync()
    {
        Budgets = await BudgetDataService.GetAllBudgets();
    }
    async Task ValidFormSubmitted(EditContext editContext)
    {
        loading = true;
        var result = await DepenseDataService.CreateDepense(NewElement);
        if (result.Success)
        {
            LastSubmitResult = "OnValidSubmit was executed";
            loading = false;
            NavigationManager.NavigateTo("/depense/indexdepense");
        }
        else
        {
            InvalidFormSubmitted(editContext);
            loading = false;
        }

    }

    void InvalidFormSubmitted(EditContext editContext)
    {
        LastSubmitResult = "Veuillez remplir les champs correctement";
    }
    protected void Back()
    {
        NavigationManager.NavigateTo("depense/indexdepense");
    }
}
